/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.main_container{
	max-width: 1140px;
	margin: auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
a{
	color: black;
}
li a{
	text-decoration: none;
}
li a:hover {
	color: #B1663C;
}
li:hover {
	cursor: pointer;
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
.project_title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
	gap: 20px;
}
.project_title .lien{
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.lien a{
	text-decoration: none;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.filtres{
	padding-top: 30px;
	padding-bottom: 40px;
	gap: 10px;
	display: flex;
	justify-content: center;
}
button{
	box-sizing: border-box;
	padding: 10px 15px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: white;
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
}
.filtres .btn_selected{
	background-color: #1D6154;
	color: white;
}
.login{
	margin-top: 150px;
	margin-bottom: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login_form{
	margin-top: 50px;
	gap: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text-input{
	font-family: 'Work Sans';
	margin-top: 5px;
	border: 0;
	padding: 15px 20px;
	box-shadow: 0px 4px 14px 0px #00000017;
}
.login_form .text-input{
	width: 339px;
}
.login_form button{
	margin-top: 10px;
	width: 179px;
	border: 0;
	background-color: #1D6154;
	color: white;
}
.error p{
	margin-top: 20px;
	font-size: 12px;
	color: red;
}
.banner{
	display: flex;
	justify-content: center;
	padding: 20px 0px 20px 0px;
	width: 100%;
	gap: 8px;
	background-color: black;
	color: white;
}
.modal{
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0000004D
}
.modal_window{
	overflow: auto;
	position: relative;
	top: 150px;
	width: 630px;
	height: 688px;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 20px;
	background-color: white;
}
.modal_window-exit{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.modal_window-button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.modal_window-exit button{
	cursor: pointer;
	margin-right: 5px;
	border: none;
	color: black;
	font-size: 22px;
}
.modal_window-body{
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal_window-body h2{
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	color: black;
}
.modal_gallery{
	width: 80%;
	margin-top: 50px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px 10px;
}
.modal_gallery .photo{
	position: relative;
	width: 16%;
}
.photo img{
	width: 100%;
}
.photo .delete{
	z-index: 2;
	position: absolute;
	top: 4px;
	right: 4px;
	padding: 3px;
	background-color: black;
	color: white;
	border-radius: 2px;
	font-size: 11px;
}
.modal_window-body hr{
	margin-top: 75px;
	border: none;
	width: 420px;
	border-top: 1px solid #B3B3B3;
}
.modal_window-body button{
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
	border: 0;
	background-color: #1D6154;
	color: white;
}
.add_form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	margin-top: 40px;
}
.add_form hr{
	margin-top: 30px;
}
.add_form button{
	margin: 0;
	min-width: 237px;
}
.add_form .text-input{
	width: 380px;
}
.background_add{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	border-radius: 3px;
	background-color: #E8F1F6;
}
.background_add img{
	width: 50%;
	height: 100%;
	object-fit: cover;
}
.add_image{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
	gap: 10px;
}
.add_image .fa-image{
	font-size: 76px;
	color: #B9C5CC;
}
input[type="file"]{
	display: none;
}
.add_image .upload_button{
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 50px;
	padding: 12px 35px;
	background-color: #CBD6DC;
	color: #306685;
}
.add_image p{
	font-size: 10px;
}
.select-input{
	font-family: 'Work Sans';
	border: 0;
	border-right: 20px solid transparent;
	margin-top: 5px;
	padding: 15px 10px;
	box-shadow: 0px 4px 14px 0px #00000017;
}
.add_form .select-input{
	width: 420px;
}
.modal_window-body .disable{
	background-color: #A7A7A7;
}
.hide{
	display: none;
}
.cliquable{
	cursor: pointer;
}